---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="عن مساعد" description="من أنا وما هذا الموقع">
  <article class="prose mx-auto">
    <h1>عن مساعد</h1>

    <p>مرحبا انا مساعد وهذي مدونتي،</p>

    <p>
      هذي المدونة راح اكتب فيها عن المواضيع الي تمهني في مجال
      <em>الحوكمة و المخاطر و الأمتثال (GRC)</em>، بأسلوب عامي و بدون اي تكلف مثل
      بوستات LinkedIn 😅
    </p>

    <blockquote>
      <p>طيب من مساعد؟</p>
    </blockquote>

    <p>
      شخص مهتم في مجال الـ GRC، وبداء اهتمامي بهالمجال بعد ما دخلت معسكر GRC في
      أكادمية طويق.
    </p>

    <p>
      للأمنه قبل ادخل المعسكر كان توجهي للجانب الهجومي "Red Team" في الامن
      السيبراني بس بيني وبينكم اعجبتني سالفة الـ GRC وحبيت المهام اليومية الي
      يسونها، خصوصاً اني شخص اجتماعي واحب تكلم مع الناس واتعرف عليهم لان خلاص
      تعبت من اني كل يوم اتكلم مع الشاشة، ابغا اتكلم مع بشرز
    </p>

    <p>الزبدة لقيت ان المجال الـ GRC يتناسب مع شخصيتي اكثر من Red Team.</p>

    <p>الشهادات الاحترافية الي عند مساعد:</p>

    <table>
      <thead>
        <tr>
          <th>الحالة</th>
          <th>الشهادة</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>تم</td><td>eJPTv2</td></tr>
        <tr><td>تم</td><td>CompTIA Security +</td></tr>
        <tr><td>تم</td><td>CompTIA Network +</td></tr>
        <tr><td>تم</td><td>ITIL</td></tr>
        <tr><td>تم</td><td>GRC Mastery</td></tr>
        <tr><td>تم</td><td>ISO/IEC 27001 Lead Auditor</td></tr>
        <tr><td>جاري العمل</td><td>ISO/IEC 27001 Lead Implementer</td></tr>
        <tr><td>ممكن</td><td>ISO/IEC 27005</td></tr>
      </tbody>
    </table>
  </article>
</BaseLayout>
